@*Estas en View / Editorial / Index*@
@model IList<gestionbibliotecaMVC.Models.Editorial>
@{
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        @Html.ActionLink(" ", "ViewDetails", null, new {
       @class = MyResources.BotonesResources.BotonCrear, @style = MyResources.BotonesResources.ColorCrear
})
    </div>
    <div class="col-md-7"></div>

</div>

@foreach (var editorial in Model) {

    <div class="row">

        <div class="col-md-0"></div>

        <div class="col-md-3">
            @Html.ActionLink(editorial.Nombre, "ViewDetails", new {
           CodEditorial = editorial.CodEditorial
       }, new {
           @class = MyResources.BotonesResources.BotonLink
       })
        </div>
        <div class="col-md-2">
            @Html.ActionLink(" ", "Delete", null, new {
           CodEditorial=editorial.CodEditorial
       },new{ @class = MyResources.BotonesResources.BotonBorrar, @style = MyResources.BotonesResources.ColorBorrar
       })
        </div>
        <div class="col-md-7"></div>
    </div>

}
